.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;

    height: var(--search-hight);
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    display: flex;
    font-family: var(--font-family);
    font-weight: 600;
    input {
        flex: 1;
        height: 100%;
        padding-right: 36px;
        font-size: 1.6rem;
        color: var(--black);
        background: transparent;
    }

    // input empty

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.8);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        top: calc((var(--search-hight) - 28px) / 2);
        height: 28px;
        right: 52px;
        background-color: #1618231f;
    }

    // select input
    &:hover,
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.search-result {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    // padding:
}

.clear,
.load {
    width: 16px;
    height: 16px;
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: calc((var(--search-hight) - 16px) / 2);
    color: rgba(22, 24, 35, 0.34);
    .clear-icon {
        background: rgba(22, 24, 35, 0.34);
        border-radius: 100%;
        border: none;
        color: var(--white);
    }
}
.load {
    animation: LoadingClear 1s linear infinite;
}

// search button

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border: none;
    font-size: 20px;
    border-radius: 0 92px 92px 0;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.3);
    }
}

@keyframes LoadingClear {
    to {
        transform: rotate(720deg);
    }
    from {
        transform: rotate(0deg);
    }
}

// clear button
.clear-btn {
    height: 100%;
}
